html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
}

#map-container {
  position: relative;
}

#map {
  height: 800px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

#place-autocomplete-card {

  background-color: #fff;
  width: 100%;
  max-width: 550px;
  padding: 5px;
  border-radius: 0px;
  margin: 5px;
  
}

#controls {
  
  display: flex;
  gap: 5px;
  width: 100%;
  max-width: 500px;
  margin: 5px;
  height: 40px;
}

#gemini {

  display: flex;
  gap: 5px;
  padding: 5px 10px;
  max-width: 800px;
  width: 100%;
}

#gemini textarea {
  resize: none;
  height: auto;
  max-height: 200px;
  width: 100%;
}

#speech-bubble {
  display: none;
  padding: 20px;
  opacity: 1;
  background: #F8F7F7;
  border-radius: 20px;
  margin-top: 50px;
  font-size: 20px;
  width: 900px;
  min-width: 0;
  color: black;
}
