html,
body {
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100%;
}

#app {
    height: 100%;
    box-sizing: border-box; 
    position: relative;
}

#VRButton {
    z-index: 10000 !important;
}



#mapDiv {
    height: 100%;
}